name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.7"
          channel: "stable"
          cache: true

      - name: Flutter pub get
        run: |
          cd app
          flutter pub get

      - name: Build APK (Release)
        run: |
          cd app
          flutter build apk --release

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: ejar-sanaa-apk
          path: app/build/app/outputs/flutter-apk/app-release.apk
