name: Build Flutter APK (Release)

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.7"
          channel: "stable"
          cache: true

      - name: Flutter Doctor
        run: flutter doctor -v

      - name: Build APK
        run: |
          cd app
          flutter pub get
          flutter build apk --release

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ejar-sanaa-apk
          path: app/build/app/outputs/flutter-apk/app-release.apk
