name: Deploy Flutter Web to GitHub Pages (gh-pages)

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.7"
          channel: stable
          cache: true

      - name: Build Web
        run: |
          cd app
          flutter pub get
          flutter build web --release --base-href "/ejar-sanaa/"

      - name: Disable Jekyll
        run: |
          touch app/build/web/.nojekyll

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: app/build/web
          force_orphan: true
